.testimonial {
  min-width: 250px;
  background-color: #ffffff;
  padding: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.testimonial img {
  width: 128px;
  height: 128px;
  object-fit: cover;
  border-radius: 50%;
}

.testimonial .name {
  font-weight: bold;
}
